<!DOCTYPE html>
<html>
<head>
  <title>Weekend App</title>
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheet/results.css">
  <!-- <script src="./src/results.js"></script> -->
</head>
<body>
  <h1 class="results-header">Events found closest to <%= data.location %> </h1>
  <h1> <%= one%> <%= two%> <%= three%></h1>
</body>
</html>
